<html>
  <head>
  </head>
  <body>
    <h1>Access Restricted</h1>

    <p>
      We're sorry, GCS Proxy is not yet publicly available
      and your email address is not on the list of authorized users.
    </p>

    <p>
      If you would like to be notified when GCS Proxy is made available,
      please fill out this form
    </p>

    <p>
      &nbsp;&nbsp;&nbsp;
      <a href="http://globalfishingwatch.org/#6">
        GCS Proxy Contact Form
      </a>
    </p>

    <p>
      If you believe that you should already have access, you can try to log in with a
      different email.
    </p>

    <p>
      &nbsp;&nbsp;&nbsp;
      <a href="{{logout_url}}">Log out and try again</a>
    </p>

    <p>
      If you need more help contact us here:
      <a href="{{contact_url}}">{{contact_url}}
      </a>
    </p>
  </body>
</html>
